# Database
RAILS_MAX_THREADS: 5
DATABASE_TIMEOUT: 5000

DEVELOPMENT_DATABASE_USERNAME: root
DEVELOPMENT_DATABASE_PASSWORD: Aa@123456
DEVELOPMENT_DATABASE_HOST: localhost
DEVELOPMENT_DATABASE_NAME: "rails_api_skeleton_development"

TEST_DATABASE_USERNAME: root
TEST_DATABASE_PASSWORD: Aa@123456
TEST_DATABASE_HOST: localhost
TEST_DATABASE_NAME: "rails_api_skeleton_test"

STAGING_DATABASE_USERNAME: root
STAGING_DATABASE_PASSWORD: Aa@123456
STAGING_DATABASE_HOST: localhost
STAGING_DATABASE_NAME: "rails_api_skeleton_staging"

PRODUCTION_DATABASE_USERNAME: root
PRODUCTION_DATABASE_PASSWORD: Aa@123456
PRODUCTION_DATABASE_HOST: localhost
PRODUCTION_DATABASE_NAME: "rails_api_skeleton_production"
